<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospital">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hospital">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Tela de login" />
        <activity
            android:name=".activities.MenuAdministrativoActivity"
            android:label="Menu administrativo" />
        <activity
            android:name=".activities.MenuMedicoActivity"
            android:label="Menu do médico" />
        <activity
            android:name=".activities.MenuRecepcaoActivity"
            android:label="Menu da recepção" />
        <activity
            android:name=".activities.RecuperarSenhaActivity"
            android:label="Recuperação de senha" />
        <activity
            android:name=".activities.MenuPacienteActivity"
            android:label="Menu paciente" />
        <activity
            android:name=".activities.UnidadeActivity"
            android:label="Lista de unidades" />
        <activity
            android:name=".activities.UnidadeDadosActivity"
            android:label="Cadastro de unidade" />
        <activity
            android:name=".activities.SetorActivity"
            android:label="Lista de setores" />
        <activity
            android:name=".activities.SetorDadosActivity"
            android:label="Cadastro de setor" />
        <activity
            android:name=".activities.LeitoActivity"
            android:label="Lista de leitos" />
        <activity
            android:name=".activities.LeitoDadosActivity"
            android:label="Cadastro de leito" />
        <activity
            android:name=".activities.MedicoActivity"
            android:label="Lista de médicos" />
        <activity
            android:name=".activities.MedicoDadosActivity"
            android:label="Cadastro de médico" />
        <activity
            android:name=".activities.MedicamentoActivity"
            android:label="Lista de medicamentos" />
        <activity
            android:name=".activities.MedicamentoDadosActivity"
            android:label="Cadastro de medicamento" />
        <activity
            android:name=".activities.FuncionarioActivity"
            android:label="Lista de funcionários" />
        <activity
            android:name=".activities.FuncionarioDadosActivity"
            android:label="Cadastro de funcionário" />
        <activity
            android:name=".activities.InternarActivity"
            android:label="Internar paciente" />
        <activity
            android:name=".activities.InternarDadosActivity"
            android:label="Internamento de paciente" />
        <activity
            android:name=".activities.PacienteActivity"
            android:label="Lista de pacientes" />
        <activity
            android:name=".activities.PacienteDadosActivity"
            android:label="Cadastro de paciente" />
        <activity
            android:name=".activities.InternadoActivity"
            android:label="Pacientes internados" />
        <activity
            android:name=".activities.AltaDadosActivity"
            android:label="Alta médica" />
        <activity
            android:name=".activities.TransferenciaDadosActivity"
            android:label="Transferência de leito" />
        <activity
            android:name=".activities.PrescreverDadosActivity"
            android:label="Prescrever medicação" />
        <activity
            android:name=".activities.PrescreverAlterarActivity"
            android:label="Alteração de prescrição" />
    </application>

</manifest>